<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeff.startproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".view.main.MainActivity"
            android:theme="@style/TransparentBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.eventbus.EventBusActivity" />
        <activity android:name=".view.eventbus.LiveEventBusActivity" />
        <activity android:name=".view.edittext.EditTextActivity" />
        <activity android:name=".view.db.DbActivity" />
        <activity android:name=".view.flowcontrol.FlowControlActivity" />
        <activity android:name=".view.sample.SampleActivity" />
        <activity
            android:name=".view.vector.VectorActivity"
            android:theme="@style/TransparentBarTheme" />
        <activity
            android:name=".view.login.LoginActivity"
            android:theme="@style/TransparentBarTheme" />
        <activity android:name=".view.chain.ChainActivity" />
        <activity android:name=".view.websocket.WebSocketActivity" />
        <activity android:name=".view.navigation.NavigationActivity" />
        <activity android:name=".view.draw.DrawActivity" />
        <activity android:name=".view.adbcmd.AdbCmdActivity" />
        <activity android:name=".view.runtimeexec.RuntimeExecActivity" />
        <activity
            android:name=".view.file.FileActivity"
            android:taskAffinity="com.jeff.file.${applicationId}"
            android:theme="@style/TranslucentTheme" />
        <activity android:name=".view.pager.PagerActivity" />
        <activity android:name=".view.datastructure.DataStructureActivity" />
        <activity android:name=".view.preferences.PreferencesActivity" />
        <activity android:name=".view.blur.BlurActivity" />

        <activity-alias
            android:name="com.jeff.file"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="FileActivity"
            android:targetActivity=".view.file.FileActivity"
            android:taskAffinity="com.jeff.file.${applicationId}"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Android TV launcher intent -->
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            </intent-filter>
        </activity-alias>
    </application>

</manifest>