<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.jeff.startproject.MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.jeff.startproject.ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting.TransparentBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jeff.startproject.ui.eventbus.EventBusActivity" />
        <activity android:name="com.jeff.startproject.ui.eventbus.LiveEventBusActivity" />
        <activity android:name="com.jeff.startproject.ui.edittext.EditTextActivity" />
        <activity android:name="com.jeff.startproject.ui.db.DbActivity" />
        <activity android:name="com.jeff.startproject.ui.flowcontrol.FlowControlActivity" />
        <activity android:name="com.jeff.startproject.ui.sample.SampleActivity" />
        <activity
            android:name="com.jeff.startproject.ui.vector.VectorActivity"
            android:theme="@style/TransparentBarTheme" />
        <activity
            android:name="com.jeff.startproject.ui.login.LoginActivity"
            android:theme="@style/TransparentBarTheme" />
        <activity android:name="com.jeff.startproject.ui.chain.ChainActivity" />
        <activity android:name="com.jeff.startproject.ui.websocket.WebSocketActivity" />
        <activity android:name="com.jeff.startproject.ui.navigation.NavigationActivity" />
        <activity android:name="com.jeff.startproject.ui.draw.DrawActivity" />
        <activity android:name="com.jeff.startproject.ui.adbcmd.AdbCmdActivity" />
        <activity android:name="com.jeff.startproject.ui.runtimeexec.RuntimeExecActivity" />
        <activity
            android:name="com.jeff.startproject.ui.file.FileActivity"
            android:taskAffinity="com.jeff.file.${applicationId}"
            android:theme="@style/TranslucentTheme" />
        <activity android:name="com.jeff.startproject.ui.pager.PagerActivity" />
        <activity android:name="com.jeff.startproject.ui.datastructure.DataStructureActivity" />
        <activity android:name="com.jeff.startproject.ui.preferences.PreferencesActivity" />
        <activity
            android:name="com.jeff.startproject.ui.blur.BlurActivity"
            android:taskAffinity="com.jeff.blur.${applicationId}" />
        <activity android:name="com.jeff.startproject.ui.floating.OpenFloatingActivity" />
        <activity android:name="com.jeff.startproject.ui.text.TextActivity" />
        <activity android:name="com.jeff.startproject.ui.sort.DataSortActivity" />
        <activity android:name="com.jeff.startproject.ui.encrypt.EncryptActivity" />
        <activity android:name="com.jeff.startproject.ui.others.OverrideTransitionActivity" />
        <activity android:name="com.jeff.startproject.ui.gson.GsonActivity" />
        <activity android:name="com.jeff.startproject.ui.list.DragActivity" />
        <activity android:name="com.jeff.startproject.ui.others.CustomActivity" />
        <activity android:name="com.jeff.startproject.ui.ui.SeekBarActivity" />
        <activity android:name="com.jeff.startproject.ui.spec.SpecActivity" />
        <activity android:name="com.jeff.startproject.ui.livedata.LiveDataAdvActivity" />
        <activity android:name="com.jeff.startproject.ui.chart.ChartActivity" />
        <activity android:name="com.jeff.startproject.ui.result.ReceiveActivity" />
        <activity android:name="com.jeff.startproject.ui.result.ResultActivity" />
        <activity android:name="com.jeff.startproject.ui.colorpicker.ColorPickerActivity" />
        <activity
            android:name="com.jeff.startproject.ui.appmanager.AppManagerActivity"
            android:theme="@style/Theme.App.Starting.AppTheme" />
        <activity android:name="com.jeff.startproject.ui.login.GoogleSignInActivity" />
        <activity android:name="com.jeff.startproject.ui.myclipboard.ClipboardActivity" />
        <activity android:name="com.jeff.startproject.ui.table.TableActivity" />

        <activity-alias
            android:name="com.jeff.file"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="FileActivity"
            android:targetActivity="com.jeff.startproject.ui.file.FileActivity"
            android:taskAffinity="com.jeff.file.${applicationId}"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Android TV launcher intent -->
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            </intent-filter>
        </activity-alias>

        <service android:name="com.jeff.startproject.widget.floating.FloatingWindowService" />
    </application>

</manifest>